{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block body_part %}
<div class="container">
<div class="row clearfix">
  <div class="col-md-12 column">
    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

    <p>Add a new entry:</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">add entry</button>
    </form>
  </div>
</div>
</div>

{% endblock %}