{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block body_part %}

<div class="container">
<div class="row clearfix">
  <div class="col-md-8 column">
      <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">add a new entry</a>
  </p>

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
              edit entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div><!-- panel -->
  {% empty %}
      There are no entries for this topic yet.
  {% endfor %}
  </div>
  <div class="col-md-4 column">
  </div>
</div>
</div>
{% endblock %}

<!--{% block header %}-->
<!--  <h2>{{ topic }}</h2>-->
<!--{% endblock header %}-->

<!--{% block content %}-->

<!--  <p>-->
<!--    <a href="{% url 'learning_logs:new_entry' topic.id %}">add a new entry</a>-->
<!--  </p>-->

<!--  {% for entry in entries %}-->
<!--    <div class="panel panel-default">-->
<!--      <div class="panel-heading">-->
<!--        <h3>-->
<!--          {{ entry.date_added|date:'M d, Y H:i' }}-->
<!--          <small>-->
<!--            <a href="{% url 'learning_logs:edit_entry' entry.id %}">-->
<!--              edit entry</a>-->
<!--          </small>-->
<!--        </h3>-->
<!--      </div>-->
<!--      <div class="panel-body">-->
<!--        {{ entry.text|linebreaks }}-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; panel &ndash;&gt;-->
<!--  {% empty %}-->
<!--      There are no entries for this topic yet.-->
<!--  {% endfor %}-->

<!--{% endblock content %}-->