{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block body_part %}

<div class="container" style="margin-bottom:250px">
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <h2>登陆账户</h2>
            {% if message %}
             {{ message }}
            {% endif %}
           <form method="post" action="" enctype="multipart/form-data">
              <div class="div1">
                <label>Username:</label><br>
                  <input class="form-control" type="text" id="username" name="username">
                <label>Password:</label><br>
                  <input class="form-control" type="password" id="password" name="password">
                <div id="errmsg"></div>
               <br>
               <button type="submit" class="btn btn-lg btn-block input-control">登陆</button>
               <br>
               <a href="{% url 'users:forget' %}">忘记密码</a>
               <a style="float:right;" href="{% url 'users:register' %}">注册账户</a>
               </div>
           </form>
        </div>
    </div>
</div>

{% endblock %}